.background_logo{
    background-image: url('../../public/2023Logo-WHITE.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    height: 100%;
    width: 50%;
    position: absolute; 
    bottom: -250px; 
    right: -120px; 
    opacity: 0.2;
}