.background{
    background-image: url('../../public/WebsideAI-BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    height: 100vh;
}