.user{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 0.5rem;
}

.ai{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(175, 255, 201);
    margin-bottom: 0.5rem;
}

.loadingIcon{
    animation: opacity 1s infinite;

}

a {
    color: aqua;
    text-decoration: none;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes blinkingCursor {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  .typingEffect::after {
    content: '|';  /* Cursor */
    animation: blinkingCursor 1s infinite;
  }
  
