.inputField{
    border: none;
    border-bottom: 1px solid #1f1f1f;
    background-color: #1f1f1f;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.inputField:focus{
    outline: none;
}

.submitButton{
    background-color: #1f1f1f;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}